@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h2>Config List</h2>
<p>
    <a asp-page="ConfigurationAdd">Add New Item to Configuration List</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions">
        Filter:
        <input type="text" name="SearchString" value="@Model.SearchValue" />
        <input type="submit" value="Filter" class="btn btn-default" /> |
        <a asp-page="./Index">Clear Filter</a>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Type")
            </th>
            <th>
                @Html.DisplayName("Value")
            </th>
            <th>
                @Html.DisplayName("IsActive")
            </th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var config in Model.ConfigurationList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => config.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => config.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => config.Value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => config.IsActive)
                </td>
                <td>
                    <a asp-page="./EditConfiguration" asp-route-id="@config.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>